@import url('https://fonts.googleapis.com/css?family=Lato:700i');

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "head head head head head head head head"
        "main main main main main main main main"
        "foot foot foot foot foot foot foot foot"
    ;
    /*grid-gap: 0.6rem;*/
}

main {
    grid-area: main;
    align-self: center;
    justify-self: center;
}

#loginForm {
    border: 0.3rem solid var(--main-color);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "label1 input1"
            "label2 input2"
            "error   error"
            "register input3"
;
    grid-gap: 1rem;
    padding: 2rem;
}

#loginForm * {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: var(--main-color);
}

#userLabel {
    grid-area: label1;
}
#passLabel {
    grid-area: label2;
}
#email {
    font-size: 1rem;
    color: white;
    border: none;
    background-color: var(--main-color);
    padding: 0.5rem;
    grid-area: input1;
}
#password {
    font-size: 1rem;
    color: white;
    border: none;
    background-color: var(--main-color);
    padding: 0.5rem;
    grid-area: input2;
}

#registerLink {
    font-size: 1.2rem;
    grid-area: register;
}

#registerLink:hover {
    color: #A75900;
}
#registerLink:active {
    color: #ffd5a4;
}

#submit {
    justify-self: end;
    font-size: 1.2rem;
    color: white;
    border: none;
    background-color: var(--main-color);
    padding: 0.5rem;
    grid-area: input3;
}

#submit:hover {
    color: #ffd5a4;
}
#submit:active {
    color: #A75900;
}

.loginError {
    grid-area: error;
    background-color: red;
    color: white !important;
    font-size: 1rem !important;
    padding: 0.5rem;
}

