@import url('https://fonts.googleapis.com/css?family=Lato:700i');

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "head head head head head head head head"
            ".... .... main main main main .... ...."
            "foot foot foot foot foot foot foot foot"
;
    grid-gap: 0.6rem;
}

main {
    font-size: 1.5rem;
    grid-area: main;
    align-self: center;
    justify-self: center;
}

main form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.6rem;
}

/*main #userLabel {*/
    /*grid-area: label1;*/
/*}*/
/*main #passLabel {*/
    /*grid-area: label2;*/
/*}*/
/*main #username {*/
    /*grid-area: input1;*/
/*}*/
/*main #password {*/
    /*grid-area: input2;*/
/*}*/
main #submit {
    grid-column: 2;
}

