@import url('https://fonts.googleapis.com/css?family=Lato:700i');

/***********************************************/
/*                  CSS RESET                  */
/***********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***********************************************/
/*                END CSS RESET                */
/***********************************************/
* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    height: 98vh;
    padding: 1vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "head head head head head head head head"
    "nav  main main main main main aside aside"
    "foot foot foot foot foot foot foot foot"
    ;
    grid-gap: 0.6rem;
}

.grid > * {
    border: 0.1rem solid rgb(0,95,107);
    border-radius: 0.2rem;
    /*font-weight: bold;*/
    padding: 0.6rem;
}

a {
    text-decoration: none;
    color: black;
}

header {
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    "title login"
    ;
}

.pageTitle {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    grid-area: title;
}

.pageTitle a {
    color: #e38519;
}

.buttons {
    grid-area: login;
    display: grid;
}

.login {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
    "chat"
    "chatInput"
    ;
    min-height: 0;
    grid-gap: 0.6rem;
}
.chat {
    border: 0.1rem solid rgb(0,95,107);
    min-height: 0;
    overflow-y: scroll;
    grid-area: chat;
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 0.6rem;
    padding: 0.4rem;
}

.chatMessageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "other my"
    ;
    grid-gap: 3.5rem;
}

.chatMessage {
    border: 0.1rem solid rgb(0,95,107);
    border-radius: 0.7rem;
    padding: 0.4rem 0.3rem;
    text-align: center;
}


.otherMessage{
    grid-area: other;
}


.myMessage{
    grid-area: my;
}




.chatInput {
    border: 0.1rem solid rgb(0,95,107);
    border-radius: 0.2rem;
    width: 100%;
    grid-area: chatInput;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    "message send"
    ;
}

.chatInput .message {
    border: none;
    resize: none;
    grid-area: message;
}

.chatInput .submitMessage {
    border: none;
    /*align-self: center;*/
    /*justify-self: center;*/
    grid-area: send;
}

nav {

    grid-area: nav;
}

aside {
    grid-area: aside;

}

footer {
    grid-area: foot;
}