@import url('https://fonts.googleapis.com/css?family=Lato:700i');

/***********************************************/
/*                  CSS RESET                  */
/***********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***********************************************/
/*                END CSS RESET                */
/***********************************************/

:root {
    --main-color: #e38519;
}


* {
    box-sizing: border-box;
}

.grid {
    min-width: 50rem;
    min-height: 20rem;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "head head head head head head head head"
            "nav  main main main main main aside aside"
            "foot foot foot foot foot foot foot foot"
;
    grid-gap: 0.6rem;
}

.grid > * {
    padding: 0.6rem;
}

a {
    text-decoration: none;
    color: black;
}

header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    /*grid-template-columns: auto auto 1fr;*/
    /*grid-template-areas:*/
    /*"title divider login"*/
    /*;*/
}

.pageTitle {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    order: 1;
    /*flex: 1;*/
    /*grid-area: title;*/
}

.divider {
    /*margin-left: 2rem;*/
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 4rem 2rem;
    border-color: transparent transparent var(--main-color) transparent;
    order: 2;
}

.pageTitle a {
    color: var(--main-color);
}

.links {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    order: 3;
    display: flex;
    /*text-align: end;*/
    background-color: var(--main-color);
    /*grid-area: login;*/
}

.welcome {
    padding-left: 0.6rem;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.links * {
    margin-top: 1rem;
    margin-right: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: white;
}

.links a:hover {
    color: #ffd5a4;
}
.links a:active {
    color: #A75900;
}


/***********************************************/
/*             START PROJECT AREA              */
/***********************************************/

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: white;
}

#navInner {
    display: grid;
    grid-gap: 0.6rem;
    grid-template-rows: 0.06fr 1fr;
}

.addProject {
    margin-bottom: 0.6rem;
    padding: 0.3rem 0;
    font-family: 'Lato', sans-serif;
    color: white;
    border: none;
    text-align: center;
    border-radius: 0.7rem;
    background-color: var(--main-color);
}

#projectsWrapper {
    overflow-y: scroll;
    height: 48rem;
    padding-right: 0.6rem;
}

#projects {
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: column;
}

.projectWrapper {

}

.projectClass {
    text-align: center;
    padding: 0.4rem 0.6rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    background-color: #d57f00;
}

.projectName {
    text-align: center;
    padding: 0.4rem 0.6rem;
    min-height: 4rem;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    background-color: var(--main-color);
    margin-bottom: 0.6rem;
}


/***********************************************/
/*              END PROJECT AREA               */
/***********************************************/

/***********************************************/
/*            START REGISTER MODAL             */
/***********************************************/

#createProject {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(256, 256, 256, 0.7);
    visibility: hidden;
    opacity: 0;
    display: grid;
}

#createProject:target {
    visibility: visible;
    opacity: 1;
}

.projectMain {
    /*grid-area: main;*/
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "close" "projectHeader" "projectForm";
}

#createProjectHeader {
    grid-area: projectHeader;
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: flex;
}

#headerText {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: var(--main-color);
}

#close {
    padding-right: 1rem;
    margin-left: auto;
    grid-area: close;
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
}

#createProjectForm {
    background-color: white;
    grid-area: registerForm;
    border: 0.3rem solid var(--main-color);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
            "label1 input1"
            "label2 input2"
            "label3 input3"
            "label4 input4"
            "error   error"
            "login input6"
    ;
    grid-gap: 1rem;
    padding: 2rem;
}



sup {
    vertical-align: super;
    font-size: 0.8rem !important;
}

#createProjectForm * {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: var(--main-color);
}

#classLabel {
    grid-area: label1;
}
#nameLabel {
    grid-area: label2;
}
#descriptionLabel {
    grid-area: label3;
}
#deadlineLabel {
    grid-area: label4;
}

#class {
    font-size: 1rem;
    color: white;
    background-color: var(--main-color);
    padding: 0.5rem;
    grid-area: input1;
}

#name {
    font-size: 1rem;
    color: white;
    border: none;
    background-color: var(--main-color);
    padding: 0.5rem;
    grid-area: input2;
}

#description {
    font-size: 1rem;
    color: white;
    border: none;
    background-color: var(--main-color);
    padding: 0.5rem;
    grid-area: input3;
}

#deadline {
    font-size: 1rem;
    color: white;
    border: none;
    background-color: var(--main-color);
    padding: 0.5rem;
    grid-area: input4;
}

#submit {
    justify-self: end;
    font-size: 1.2rem;
    color: white;
    border: none;
    background-color: var(--main-color);
    padding: 0.5rem;
    grid-area: input6;
}

#submit:hover {
    color: #ffd5a4;
}
#submit:active {
    color: #A75900;
}

/*.loginError {*/
    /*grid-area: error;*/
    /*background-color: red;*/
    /*color: white !important;*/
    /*font-size: 1rem !important;*/
    /*padding: 0.5rem;*/
/*}*/



/***********************************************/
/*             END REGISTER MODAL              */
/***********************************************/


/***********************************************/
/*               START CHAT AREA               */
/***********************************************/

main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
    "chatWrapper"
    "chatInput"
    ;
    min-height: 0;
    grid-gap: 0.6rem;
}

.chatWrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "chat";
    /*border: 0.1rem solid rgb(0,95,107);*/
    padding-right: 0.1rem;
    min-height: 0;
    grid-area: chatWrapper;
}

.chat {
    /*border: 0.1rem solid rgb(0,95,107);*/
    grid-area: chat;
    min-height: 0;
    overflow-y: scroll;
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 0.6rem;
    padding: 0.4rem;
}

.chatMessageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "other my"
    ;
    grid-gap: 10rem;
}

.chatMessage {
    font-family: 'Lato', sans-serif;
    color: white;
    border-radius: 0.7rem;
    padding: 0.4rem 0.6rem;
    text-align: start;
}

.otherMessage{
    background-color: #FFBD70;
    grid-area: other;
}

.myMessage{
    background-color: var(--main-color);
    grid-area: my;
}

.chatInput {
    width: 100%;
    grid-area: chatInput;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-template-areas:
    "message before send after"
    ;
}

.inputMessage {
    font-family: 'Lato', sans-serif;
    color: var(--main-color);
    padding: 0.6rem;
    border: 0.1rem solid var(--main-color);
    border-radius: 1rem;
    margin-right: 2.4rem;
    resize: none;
    grid-area: message;
}

.submitMessage {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: white;
    border: none;
    background-color: var(--main-color);
    height: 2.5rem;
    width: 3rem;
    grid-area: send;
    align-self: center;
}

.submitMessage:hover {
    color: #ffd5a4;
}
.submitMessage:active {
    color: #A75900;
}

.beforeSubmit {
    align-self: center;
    grid-area: before;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 2.5rem 1.25rem;
    border-color: transparent transparent var(--main-color) transparent;

}

.afterSubmit {
    align-self: center;
    grid-area: after;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.5rem 1.25rem 0 0 ;
    border-color: var(--main-color)  transparent transparent transparent;
}


/***********************************************/
/*                END CHAT AREA                */
/***********************************************/



/***********************************************/
/*           START PROJECT INFO AREA           */
/***********************************************/



aside {
    grid-area: aside;
    border-left: solid var(--main-color);

}

#projectInfo {
    display: flex;
    flex-direction: column;
}

#info_buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;
    /*font-family: 'Lato', sans-serif;*/
    /*background-color: var(--main-color);*/
    /*color: white;*/
    padding: 0.6rem;
    /*border-radius: 0.7rem;*/
}

#info_buttons input {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: var(--main-color);
    padding: 0.5rem;
    grid-area: input4;
}

#info_buttons button {
    font-size: 1.2rem;
    color: white;
    border: none;
    background-color: var(--main-color);
    padding: 0.5rem;
    margin-top: 0.6rem;
}


#info_error {
    margin-bottom: 0.6rem;
    font-family: 'Lato', sans-serif;
    color: var(--main-color);
    padding: 0.6rem;
    border-radius: 0.7rem;
}
#info_info {
    margin-bottom: 0.6rem;
    font-family: 'Lato', sans-serif;
    background-color: var(--main-color);
    color: white;
    padding: 0.6rem;
    border-radius: 0.7rem;
}
#info_users {
    margin-bottom: 0.6rem;
    font-family: 'Lato', sans-serif;
    background-color: var(--main-color);
    color: white;
    padding: 0.6rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
}

#projectUser {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

#projectUserLabel {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#info_users a{
    margin-left: 0.6rem;
    cursor: pointer;
    color: darkred;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}



/***********************************************/
/*            END PROJECT INFO AREA            */
/***********************************************/

footer {
    font-family: 'Lato', sans-serif;
    color: white;
    grid-area: foot;
    background-color: var(--main-color);
}